.divider {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #d8dde6;
}

.slds-grid_align-end {
    margin: 0;
    justify-content: flex-end;
}

.slds-text-body_small {
    color: #1589ee;
}

.slds-m-top_medium {
    color: white;
}

.myButton {
    --slds-c-button-brand-color-background : #1589ee;  
    }

.myButton2 {
    --slds-c-button-brand-color-background : #ee1515;  
    }